html{
  height: 100%;
}

body{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 8px;
  font-family: Helvetica, sans-serif;
  color: #242424;
  font-size: medium;
}

.bloat{
  flex-grow: 1;
}

/*
  ======================================================
    Navigator bar
  ======================================================
*/

.nav{
  background-color: #242424;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.nav button{
  float: left;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: medium;
  background-color: #242424;
  border-style: none;
  border-right-style: solid;
  padding: 1em 0.7em;
}

.nav button:hover{
  background-color: #60d16d;
  color: #242424;
}

.nav button:active{
  background-color: #429e4d;
}

/*
  ======================================================
    For all tabs
  ======================================================
*/

.tabContent{
  display: none;
  padding: 1em 2em;
  border: 1px solid #ccc;
  border-top: none;
}

/*
  ======================================================
    Preferences Section
  ======================================================
*/

#fdsRestrictions{
  padding: 1em;
  margin-left: 2em;
  margin-bottom: 2em;
  width: fit-content;
}

#fdsRestrictions label{
  display: block;
  padding-bottom: 0.7em;
}

/*
  ======================================================
    Products Section
  ======================================================
*/

.tblProduct{

}

.divProduct{
  display: block;
  padding-bottom: 1em;
}

.lblProduct{
 padding-right: 1em;
 font-weight: bolder;
}

.pProduct{

}

.btn{
  background-color: #60d16d;
  color: #242424;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  border: hidden;
  border-radius: 0.15em;
  padding: 0.7em 1.4em;
  margin: 0.3em 0.3em;
  cursor: pointer;
}

.btn:active{
  background-color: #429e4d;
}

/*
  ======================================================
    Carts Section
  ======================================================
*/

.tblResult{

}

.lblResult{
  padding-left: 1em;
  font-weight: bolder;
}

/*
  ======================================================
    Footer
  ======================================================
*/

footer{
  background-color: #242424;
  overflow: hidden;
  width: 100%;
}

h6{
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 2em 1.4em;
}
