body{
  font-family: Helvetica, sans-serif;
  color: #242424;
  font-size: medium;
}

/* Top navigation bar */
.nav{
  background-color: #242424;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

/* Style links in the navigation bar */
.nav a{
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 1em 0.7em;
  text-decoration: none;
  font-size: medium;
}

/* Hovering on link in navigator bar */
.nav a:hover{
  background-color: #40b3ff;
  color: #242424;
}

.nav a:active{
  background-color: #379adb;
}

/* Title of page */
h1{
  font-size: xx-large;
  margin-bottom: 1em;
}

/* Section to maximize width and height */
section{
  width: 100%;
  height: 100%;
}

/* Emphasizing the link and picture */
.display{
  background-color: #aad5f2;
  padding: 0.7em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.displaySite{
  font-size: x-large;
  text-align: center;
  color:#828282;
  margin-bottom: 0.3em;
}

.displayContain{
  width: 60%;
  height: 60%;
}

.displayImage{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Container to help center */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

/* Box for survey */
fieldset{
  padding: 1em;
  width: 35%;
  display: block;
  margin: 5em;
}

legend{
  font-size: x-large;
  font-style: italic;
  margin: auto;
  padding: 0 0.2em;
}

form{
  width: fit-content;
  margin: auto;
}

.divQuestion{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.question{
  font-weight: bold;
  margin-bottom: 0.5em;
}

label{
  display: block;
  overflow-wrap: anywhere;
  margin-bottom: 0.5em;
}

.subtitle{
  color: #787878;
  font-size: small;
  margin-bottom: 0.5em;
}

select{
  border-radius: 0.15em;
  padding: 0.7em 0.7em;
  margin: 0.3em 0.3em;
  cursor: pointer;
}

/* Button styles */
.btn{
  background-color: #242424;
  color: #ffffff;
  font-size: medium;
  text-decoration: none;
  text-align: center;
  border: hidden;
  border-radius: 0.15em;
  padding: 0.7em 1.4em;
  margin: 0.3em 0.3em;
  cursor: pointer;
}

.btnSubmit:hover{
  background-color: #60d16d;
  color: #242424;
}

.btnSubmit:active{
  background-color: #429e4d;
}

.btnReset:hover{
  background-color: #f2705c;
  color: #242424;
}

.btnReset:active{
  background-color: #b33420;
}

/* Footer + credits */
footer{
  background-color: #242424;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

h6{
  float: left;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 2em 1.4em;
}
