/*
Frieze White: cdbead
Octagonal Grey: b8a48c
Coffer Blue: 969b91
Minerva: 708080
Dolphin: 637d83
Grotesque: 5d8485
Blue Ellipse: 37566e
Medallion: 21385e
*/

body {
  background-color: mediumpurple;
  font-family: Helvetica, sans-serif;
  color: ivory;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
}

a {
  color: darkblue;
}
